@using TrailVenturesSystem.Services.Data.Interfaces;
@using TrailVenturesSystem.Web.Infrastructure.Extensions;

@model MountainDetailsViewModel

@inject IGuideService GuideService
@{
    ViewData["Title"] = "Mountain Details";

    bool isUserGuide = await GuideService.GuideExistsByUserIdAsync(this.User.GetId()!);
}
<head>
    <link rel="stylesheet" href="~/css/AllMountainsStyle.css" />
</head>

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<div>
    <div class="row text-center pb-4">
        <h1 >Mountain: @Model.Name</h1>
    </div>
    @if (Model.Huts.Count > 0)
    {
        <h3 class="text-center pb-4 pt-4">Registered Huts in @Model.Name Mountain:</h3>
        <hr/>
        <div class="d-flex justify-content-evenly pt-4">
            @foreach(var hut in Model.Huts)
            {
                
                <div class="card" style="width: 30%;">
                    <div class="card-body">
                        <div class="card-title p-3"><h4>@hut.Name</h4></div>
                        <hr/>
                        <p class="card-text my-1 "><b>Host number:</b> @hut.HostPhoneNumber</p>
                        <p class="card-text my-1"><b>Altitude: </b>@hut.Altitude</p>
                        <p class="card-text my-1"><b>Price per night:</b> @($"{hut.PricePerNight:f2}") BGN</p>

                        <!--edit button will be visible for guides and admin-->
                        <!--delete button will be visible for admin only-->
                        <div class="d-flex justify-content-end">
                            @if (isUserGuide)
                            {
                                <div>
                                    <a asp-controller="Hut" asp-action="Edit" asp-route-id="@hut.Id"
                                       class="btn btn-secondary" style="border:none;">Edit</a>
                                </div>
                            }
                            @if (User.IsAdmin())
                            {
                                <div>
                                    <a asp-controller="Hut" asp-action="Delete" asp-route-id="@hut.Id"
                                       class="btn btn-danger"> Delete</a>
                                </div>  
                            }                           

                        </div>
                        
                    </div>
                </div>
            }
            </div>
    }
    else
    {
        <h1 class="text-center"> There are no registered huts for this mountain!</h1>
    }
    @if (isUserGuide || User.IsAdmin())
    {
         <div class="text-center pt-3">
            <a asp-controller="Hut" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary btn-lg"
               role="button">Register a Hut</a>
        </div>
    }
   
</div>