
@using TrailVenturesSystem.Services.Data.Interfaces;
@using TrailVenturesSystem.Web.Infrastructure.Extensions;
@model ProfileViewModel

@inject IGuideService GuideService
@{
    bool isGuide = await this.GuideService.GuideExistsByUserIdAsync(this.User.GetId()!);
}
<head>
    <link rel="stylesheet" href="~/css/ProfileStyle.css" />
</head>

<!--background image section -->
<section class="hero">
    <div class="hero-content">
        <div class="d-flex justify-content-center">
            <img src="~/images/homepage/default-user.jpg" alt="Profile Picture" class="rounded-circle"
            style="max-width:20%;max-height:20%;">
        </div>
        <h1 class="discover-heading">@(Model.FirstName)'s profile</h1>
    </div>
</section>

<div class="d-flex justify-content-around">
    <!--main info-->
    <div class="col-4">
        <h1 class="pt-4">@Model.FirstName @Model.LastName</h1>
        <hr />
        <h5>Email: @Model.Email</h5>
        @if (isGuide)
        {          
            <h6 class="pt-2">Years of hiking experience: @Model.YearsOfExperience</h6>
            <h6 class="pt-3">Phone number: @Model.PhoneNumber</h6>
            
        }

       
        
    </div>
    <!--additional info-->
    <div class="col-4">
        <h1 class="pt-4">Additional info:</h1>
        <hr />
        @if (Model.PersonalInformation != null)
        {
            <p style="color:#009092;font-size:20px;">@Model.PersonalInformation</p>
            <button id="addAdditionalInfo" class="btn btn-secondary btn mt-2">Update Profile bio</button>
            <div id="additionalInfoContainer">
                @Html.AntiForgeryToken()
                <!-- Partial view will be loaded here -->
            </div>
        }
        else
        {
            <p>No additional info to display.</p>
            <button id="addAdditionalInfo" class="btn btn-secondary btn-lg mt-2">Add Profile bio</button>
            <div id="additionalInfoContainer">
                @Html.AntiForgeryToken()
            <!-- Partial view will be loaded here -->
            </div>
        }
        
    </div>
</div>
<a asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn mt-5 offset-6"
   role="button">Delete profile</a>
<div class="pt-5"></div>

@section Scripts{
   <script>
        $(document).ready(function () {
            $("#addAdditionalInfo").on("click", function (event) {             
                event.preventDefault();
                $("#additionalInfoContainer").load("/User/AdditionalInfoPartial");
                $("#additionalInfoForm").show();
            });

           
        });        
     </script>
}
