@using TrailVenturesSystem.Services.Data.Interfaces;
@using TrailVenturesSystem.Web.Infrastructure.Extensions;
@model TripAllViewModel

@inject IGuideService GuideService
@inject ITripService TripService
@{
    bool isUserGuide = await GuideService.GuideExistsByUserIdAsync(this.User.GetId()!);
    bool isGuideCreatorOfTheTrip = await GuideService.HasTripWithIdAsync(this.User.GetId(), Model.Id);

    bool isUserPartOfTrip = await TripService.IsUserWithIdPartOfTripByIdAsync(Model.Id, this.User.GetId()!);
}
<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Start Date: <b>@Model.StartDate.Date</b></h6>
            <h6>
                Price Per Month:
                <b>@($"{Model.PricePerPerson:f2}") BGN</b>
            </h6>
            <h6>(@(Model.NotFull ? "Available places" : "Not Available places"))</h6>
            <h5>@(Model.CurrentGroupSize)/@(Model.MaxGroupSize)</h5>
            <br />
            <a asp-controller="Trip" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>

            @if (this.User.Identity?.IsAuthenticated ?? false)
            {
                @if ((isUserGuide && isGuideCreatorOfTheTrip)||this.User.IsAdmin())
                {
                    <a asp-controller="Trip" asp-action="Edit" asp-route-id="@Model.Id"
                    class="btn btn-warning">Edit</a>
                    <a asp-controller="Trip" asp-action="Delete" asp-route-id="@Model.Id"
                    class="btn btn-danger">Delete</a>                   
                }
                <p></p>

                //if trip is not full -> add functionality to request becoming part of the hike group
                @if (!isUserGuide||this.User.IsAdmin())
                {
                    @if (Model.NotFull && !isUserPartOfTrip)
                    {
                        <form class="input-group-sm" asp-controller="Trip"
                            asp-action="Join" asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Join" />
                        </form>
                    }
                    else if (isUserPartOfTrip)
                    {
                        <form asp-controller="Trip" asp-action="Leave"
                            asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Leave" />
                         </form>
                    }

                }
                                
            }
        </div>
    </div>
</div>
