@using TrailVenturesSystem.Services.Data.Interfaces;
@using TrailVenturesSystem.Web.Infrastructure.Extensions;
@model TripAllViewModel

@inject IGuideService GuideService
@inject ITripService TripService
@{
    bool isUserGuide = await GuideService.GuideExistsByUserIdAsync(this.User.GetId()!);
    bool isGuideCreatorOfTheTrip = await GuideService.HasTripWithIdAsync(this.User.GetId(), Model.Id);

    bool isUserPartOfTrip = await TripService.IsUserWithIdPartOfTripByIdAsync(Model.Id, this.User.GetId()!);
   // bool isTripMoreThanOneDay = Model.Hut != null;
}

<div class="col-md-4 mb-4">
    <div class="card mb-3" style="min-block-size:100%;max-block-size:100%;">
        <div class="card-title text-center mb-4 mt-4 mb-4 p-2"><h3>@Model.Title</h3></div>
        <hr/>
        <div class="card-body text-center">
          
            <h6>Start Date: <b>@Model.StartDate.Date.ToString().Replace(" 0:00:00","")</b></h6>
            @if (Model.ReturnDate != Model.StartDate)
            {
                <h6>Return Date: <b>@Model.ReturnDate.Date.ToString().Replace(" 0:00:00","")</b></h6>
            }
            <h6>
                Price per person:
                <b>@($"{Model.PricePerPerson:f2}") BGN</b>
            </h6>
            <h6>(@(Model.NotFull ? "Available places" : "Not Available places"))</h6>
            <h4><b>@(Model.CurrentGroupSize)/@(Model.MaxGroupSize)</b></h4>
            <br />

            <div class="button-wrapper position-absolute  m-3 p-2 bottom-0 end-0" style="display:flex; justify-content:end;gap:5px; ">
                <div>
                    <a asp-area="" asp-controller="Trip" asp-action="Details" asp-route-id="@Model.Id"
                       class="btn btn-primary">Details</a>
                </div>
           

                @if (this.User.Identity?.IsAuthenticated ?? false)
                {
                    @if ((isUserGuide && isGuideCreatorOfTheTrip) || this.User.IsAdmin())
                    {
                        <div>
                            <a asp-area="" asp-controller="Trip" asp-action="Edit" asp-route-id="@Model.Id"
                           class="btn btn-secondary">Edit</a>
                       </div>
                        <div>
                            <a asp-area="" asp-controller="Trip" asp-action="Delete" asp-route-id="@Model.Id"
                           class="btn btn-danger">Delete</a>
                        </div>
                    }
                    <p></p>

                    //if trip is not full -> add functionality to request becoming part of the hike group
                    @if (!isUserGuide || this.User.IsAdmin())
                    {
                        @if (Model.NotFull && !isUserPartOfTrip)
                        {
                            <div>
                                <form class="input-group" asp-controller="Trip" asp-area=""
                                      asp-action="Join" asp-route-id="@Model.Id" method="post">
                                    <input class="btn btn-primary" type="submit" value="Join" />
                                </form>
                            </div>
                        }
                        else if (isUserPartOfTrip)
                        {
                            <div>
                                <form asp-controller="Trip" asp-action="Leave" asp-area=""
                                      asp-route-id="@Model.Id" method="post">
                                    <input class="btn btn-secondary" type="submit" value="Leave" />
                                </form>
                            </div>
                        }

                    }

                }

            </div>           
        </div>
    </div>
</div>

                